h1 {
    color: Blue;
}

body {
    color: green;
}
body {
    background-color:orange;
    font-size: 20px;
    
}

input[type="submit"] {
    background-color: darkgreen;
    color: White;
}

span{
    color: red;
    font-size: 14px;
    font-weight: bold;
    background-color: silver;
    padding: 10px 20px 10px 10px;
    
}

add-a-new-todo-button {
    font-size: 20px;
    color: Yellow;
    outline:none;
    border-style:none;
    padding: 10px;
}

li{
    margin-bottom:10px;
    padding:5px;
    font-size: 20px;
}
li:hover{
    background-color: lightgreen;
}

a:hover {
    background-color:Darkblue;
    color:white;
}

